# Monitoring of CO2 emissions from passenger cars, 2023 - Final
[2023 Dataset](https://www.eea.europa.eu/en/datahub/datahubitem-view/fa8b1229-3db6-495d-b18e-9c9b3267c02b?activeAccordion=)

|Name|Definition|Datatype|Cardinality|Relevance Comment|
|---|---|---|---|---|
|ID|Identification number.|integer|1..1|mapping/identification only|
|MS|Member state.|varchar(2)|0..1|only indirect influence?|
|Mp|Manufacturer pooling.|varchar(50)|0..1|mapping/identification only|
|VFN|Vehicle family identification number.|varchar(25)|0..1|mapping/identification only|
|Mh|Manufacturer name EU standard denomination .|varchar(50)|0..1|mapping/identification only|
|Man|Manufacturer name OEM declaration.|varchar(50)|0..1|mapping/identification only|
|MMS|Manufacturer name MS registry denomination .|varchar(125)|0..1|mapping/identification only|
|TAN|Type approval number.|varchar(50)|0..1|mapping/identification only|
|T|Type.|varchar(25)|0..1|mapping/identification only|
|Va|Variant.|varchar(25)|0..1|mapping/identification only|
|Ve|Version.|varchar(35)|0..1|mapping/identification only|
|Mk|Make.|varchar(25)|0..1|mapping/identification only|
|Cn|Commercial name.|varchar(50)|0..1|mapping/identification only|
|Ct|Category of the vehicle type approved.|varchar(5) |0..1|maybe correlated to fuel type or engine type?|
|Cr|Category of the vehicle registered.|varchar(5) |0..1|maybe correlated to fuel type or engine type?|
|M (kg)|Mass in running order Completed/complete vehicle .|integer|0..1|relevant?|
|Mt|WLTP test mass.|integer|0..1|relevant?|
|Enedc (g/km)|Specific CO2 Emissions (NEDC).|integer|0..1|older standard?|
|Ewltp (g/km)|Specific CO2 Emissions (WLTP).|integer|0..1|our target variable?|
|W (mm)|Wheel Base.|integer|0..1|potentially relevant (influence on size and weight?)|
|At1 (mm)|Axle width steering axle.|integer|0..1|potentially relevant (influence on size and weight?)|
|At2 (mm)|Axle width other axle.|integer|0..1|potentially relevant (influence on size and weight?)|
|Ft|Fuel type.|varchar(25)|0..1|highly relevant?|
|Fm|Fuel mode.|varchar(1) |0..1|relevant? (e.g. if hybrid)|
|Ec (cm3)|Engine capacity.|integer|0..1|relevant?|
|Ep (KW)|Engine power.|integer|0..1|relevant?|
|Z (Wh/km)|Electric energy consumption.|integer|0..1|tbd|
|IT|Innovative technology or group of innovative technologies.|varchar(25)|0..1|potentially relevant (influence of car characteristics, but maybe too superficial/complex)|
|Ernedc (g/km)|Emissions reduction through innovative technologies.|float|0..1|probably depending on IT value but with focus emissions -> relevant?|
|Erwltp (g/km)|Emissions reduction through innovative technologies (WLTP).|float|0..1|probably depending on IT value but with focus emissions -> relevant?|
|De|Deviation factor.|float|0..1|tbd|
|Vf|Verification factor.|integer|0..1|tbd|
|R|Total new registrations.|integer|0..1|tbd|
|Year|Reporting year.|integer|0..1|relevant?|
|Status|P = Provisional data, F = Final data.|varchar(1) |0..1|tbd|
|Version_file|Internal versioning of deliverables.|varchar(10)|0..1|tbd|
|E (g/km)|Specific CO2 Emission. Deprecated value, only relevant for data until 2016.|float|0..1|tbd|
|Er (g/km)|Emissions reduction through innovative technologies. Deprecated value, only relevant for data until 2016.|float|0..1|tbd|
|Zr|Electric range.|integer|0..1|tbd|
|Dr|Registration date.|date|0..1|tbd|
|Fc|Fuel consumption.|float|0..1|tbd|

## Basic Analysis of data

* Distribution
* Missing values
* Correlations
* ... TODO

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("files/2023-eea_europa_eu-CarsCO2.csv")
df.head(5)

C:\Users\Mr_Di\AppData\Local\Temp\ipykernel_3172\2867987085.py:1: DtypeWarning: Columns (3,28,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("files/2023-eea_europa_eu-CarsCO2.csv")

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,132193881,DE,IP-MQB37SZ_A3_1036-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,E13*2007/46*1845*26,A1,DXDBX0AC4,...,1.17,NaN,NaN,F,2023,2023-03-14,6.3,NaN,RL-MQ281_6F_20_001-WVW-1,NaN
1,132193882,DE,IP-03_356_0299-ZFA-1,STELLANTIS,STELLANTIS EUROPE,STELLANTIS EUROPE SPA,NaN,E3*2007/46*0373*33,356,HXS12,...,1.35,NaN,NaN,F,2023,2023-01-27,5.2,NaN,RL-03_BU_334_0112-1C4-1,NaN
2,132193883,DE,IP-MQB37SZ_A0_0564-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,E13*2007/46*1845*27,A1,DLAAX0AE2,...,1.17,NaN,NaN,F,2023,2023-05-15,6.6,NaN,RL-MQ200_6F_18_019-WVW-1,NaN
3,132193884,DE,IP-0000667-WBA-1,BMW,BMW AG,BAYERISCHE MOTOREN WERKE AG,NaN,E1*2007/46*2063*05,FML2E,11DJ,...,NaN,NaN,NaN,F,2023,2023-11-10,NaN,NaN,RL-0100492-WBA-1,227.0
4,132193885,DE,IP-MEB31AZ_A0_1902-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,E1*2018/858*00004*12,E2,4ACX1EBL1GX1,...,NaN,NaN,NaN,F,2023,2023-08-10,NaN,NaN,RL-EQ151_1K_21_001-WVW-1,491.0

In [4]:
missing_counts = df.isna().sum()
print(missing_counts)

ID                             0
Country                        0
VFN                       130446
Mp                        960237
Mh                             0
Man                            0
MMS                     10734898
Tan                        32451
T                           5838
Va                         29555
Ve                         37864
Mk                           316
Cn                           387
Ct                         13212
Cr                             0
r                              0
m (kg)                       178
Mt                        161527
Enedc (g/km)            10734898
Ewltp (g/km)               13366
W (mm)                  10734898
At1 (mm)                10734898
At2 (mm)                10734898
Ft                             0
Fm                             0
ec (cm3)                 1670030
ep (KW)                    50683
z (Wh/km)                8298363
IT                       3748017
Ernedc (g/km)           10734898
Erwltp (g/km)            3790286
De                      10734898
Vf                      10734898
Status                         0
year                           0
Date of registration           0
Fuel consumption         1888975
ech                      5415671
RLFI                     7658233
Electric range (km)      8306433
dtype: int64

In [ ]:
missing_percentage = missing_counts / len(df)
print(missing_percentage)

ID                      0.000000
Country                 0.000000
VFN                     0.012152
Mp                      0.089450
Mh                      0.000000
Man                     0.000000
MMS                     1.000000
Tan                     0.003023
T                       0.000544
Va                      0.002753
Ve                      0.003527
Mk                      0.000029
Cn                      0.000036
Ct                      0.001231
Cr                      0.000000
r                       0.000000
m (kg)                  0.000017
Mt                      0.015047
Enedc (g/km)            1.000000
Ewltp (g/km)            0.001245
W (mm)                  1.000000
At1 (mm)                1.000000
At2 (mm)                1.000000
Ft                      0.000000
Fm                      0.000000
ec (cm3)                0.155570
ep (KW)                 0.004721
z (Wh/km)               0.773027
IT                      0.349143
Ernedc (g/km)           1.000000
Erwltp (g/km)           0.353081
De                      1.000000
Vf                      1.000000
Status                  0.000000
year                    0.000000
Date of registration    0.000000
Fuel consumption        0.175966
ech                     0.504492
RLFI                    0.713396
Electric range (km)     0.773778
dtype: float64

In [10]:
# delete column f missing values above threshold
del_threshold = 0.7
cols_to_be_dropped = list()

for col, percentage in missing_percentage.items():
    if percentage > del_threshold:
        cols_to_be_dropped.append(col)

print(missing_percentage[cols_to_be_dropped])

MMS                    1.000000
Enedc (g/km)           1.000000
W (mm)                 1.000000
At1 (mm)               1.000000
At2 (mm)               1.000000
z (Wh/km)              0.773027
Ernedc (g/km)          1.000000
De                     1.000000
Vf                     1.000000
RLFI                   0.713396
Electric range (km)    0.773778
dtype: float64

In [12]:
print(f"Removing: {cols_to_be_dropped}")
df = df.drop(columns=cols_to_be_dropped)

Removing: ['MMS', 'Enedc (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'z (Wh/km)', 'Ernedc (g/km)', 'De', 'Vf', 'RLFI', 'Electric range (km)']

KeyError: "['MMS', 'Enedc (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'z (Wh/km)', 'Ernedc (g/km)', 'De', 'Vf', 'RLFI', 'Electric range (km)'] not found in axis"

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10734898 entries, 0 to 10734897
Data columns (total 29 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Country               object
 2   VFN                   object
 3   Mp                    object
 4   Mh                    object
 5   Man                   object
 6   Tan                   object
 7   T                     object
 8   Va                    object
 9   Ve                    object
 10  Mk                    object
 11  Cn                    object
 12  Ct                    object
 13  Cr                    object
 14  r                     int64
 15  m (kg)                float64
 16  Mt                    float64
 17  Ewltp (g/km)          float64
 18  Ft                    object
 19  Fm                    object
 20  ec (cm3)              float64
 21  ep (KW)               float64
 22  IT                    object
 23  Erwltp (g/km)         float64
 24  Status                object
 25  year                  int64
 26  Date of registration  object
 27  Fuel consumption      float64
 28  ech                   object
dtypes: float64(7), int64(3), object(19)
memory usage: 2.3+ GB

In [18]:
df.head(5)

,ID,Country,VFN,Mp,Mh,Man,Tan,T,Va,Ve,...,Fm,ec (cm3),ep (KW),IT,Erwltp (g/km),Status,year,Date of registration,Fuel consumption,ech
0,132193881,DE,IP-MQB37SZ_A3_1036-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,E13*2007/46*1845*26,A1,DXDBX0AC4,FM6FM6C90154BI1CANNI02GAA,...,M,1498.0,110.0,e13 29,1.17,F,2023,2023-03-14,6.3,NaN
1,132193882,DE,IP-03_356_0299-ZFA-1,STELLANTIS,STELLANTIS EUROPE,STELLANTIS EUROPE SPA,E3*2007/46*0373*33,356,HXS12,NBBA6CE,...,H,1469.0,96.0,e3 32,1.35,F,2023,2023-01-27,5.2,NaN
2,132193883,DE,IP-MQB37SZ_A0_0564-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,E13*2007/46*1845*27,A1,DLAAX0AE2,FM6FM6AJ0254BI1CANNI02GA0,...,M,999.0,81.0,e13 29,1.17,F,2023,2023-05-15,6.6,NaN
3,132193884,DE,IP-0000667-WBA-1,BMW,BMW AG,BAYERISCHE MOTOREN WERKE AG,E1*2007/46*2063*05,FML2E,11DJ,0AW40000,...,E,NaN,135.0,NaN,NaN,F,2023,2023-11-10,NaN,NaN
4,132193885,DE,IP-MEB31AZ_A0_1902-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,E1*2018/858*00004*12,E2,4ACX1EBL1GX1,DAE1G1Z0101ASA,...,E,NaN,220.0,NaN,NaN,F,2023,2023-08-10,NaN,NaN

In [17]:
df.columns

Index(['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'Tan', 'T', 'Va', 'Ve', 'Mk',
       'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Ewltp (g/km)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'IT', 'Erwltp (g/km)', 'Status', 'year',
       'Date of registration', 'Fuel consumption ', 'ech'],
      dtype='object')

In [29]:
# pick selection of columns to reduce size of df (less compute)
columns_to_analyse = [
    "ID",
    # "Ct",
    "Cr",
    "m (kg)",
    "Mt",
    "Ewltp (g/km)",
    "Ft",
    "Fm",
    "ec (cm3)",
    "ep (KW)",
    "IT",
    "Erwltp (g/km)",
    "year",
    "Fuel consumption ",
]
col_rename_dict = {
    "ID": "id",
    "Ct": "category_of_vehicle_type",
    "Cr": "category_of_vehicle",
    "m (kg)": "mass_vehicle",
    "Mt": "weltp_test_mass",
    "Ewltp (g/km)": "specific_co2_emissions",
    "Ft": "fuel_type",
    "Fm": "fuel_mode",
    "ec (cm3)": "engine_capacity",
    "ep (KW)": "engine_power",
    "IT": "innovative_technologies",
    "Erwltp (g/km)": "erwltp",
    # "year": "",
    "Fuel consumption ": "fuel_consumption",
}
df = df[columns_to_analyse].rename(columns=col_rename_dict)

In [32]:
# set id as index
df.set_index("id", inplace=True)

In [33]:
print("Missing percentages:")
print(df.isna().sum() / len(df))

Missing percentages:
category_of_vehicle        0.000000
mass_vehicle               0.000017
weltp_test_mass            0.015047
specific_co2_emissions     0.001245
fuel_type                  0.000000
fuel_mode                  0.000000
engine_capacity            0.155570
engine_power               0.004721
innovative_technologies    0.349143
erwltp                     0.353081
year                       0.000000
fuel_consumption           0.175966
dtype: float64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10734898 entries, 132193881 to 140000058
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   category_of_vehicle      object
 1   mass_vehicle             float64
 2   weltp_test_mass          float64
 3   specific_co2_emissions   float64
 4   fuel_type                object
 5   fuel_mode                object
 6   engine_capacity          float64
 7   engine_power             float64
 8   innovative_technologies  object
 9   erwltp                   float64
 10  year                     int64
 11  fuel_consumption         float64
dtypes: float64(7), int64(1), object(4)
memory usage: 1.0+ GB

In [ ]:
# Sort df (categorical vars => numerical vars => target)
cat_vars = df.select_dtypes(include="object")
num_vars = df.select_dtypes(include=["float64", "int64"])

In [ ]:
target = "specific_co2_emissions"
col_order = list(cat_vars.columns)
col_order.extend(num_vars.columns)

# target at last
if target in col_order:
    col_order.remove(target)
col_order.append(target)

print(col_order)

['category_of_vehicle', 'fuel_type', 'fuel_mode', 'innovative_technologies', 'mass_vehicle', 'weltp_test_mass', 'engine_capacity', 'engine_power', 'erwltp', 'year', 'fuel_consumption', 'specific_co2_emissions']

In [ ]:
df_sorted = df.loc[:, col_order]
print(df_sorted.head(2))

# cat_vars = df.select_dtypes(include="object")
# num_vars = df.select_dtypes(include=['float64', "int64"])

          category_of_vehicle fuel_type fuel_mode innovative_technologies  \
id
132193881                  M1    petrol         M                  e13 29
132193882                  M1    petrol         H                   e3 32

           mass_vehicle  weltp_test_mass  engine_capacity  engine_power  \
id
132193881        1345.0           1477.0           1498.0         110.0
132193882        1425.0           1506.0           1469.0          96.0

           erwltp  year  fuel_consumption  specific_co2_emissions
id
132193881    1.17  2023               6.3                   143.0
132193882    1.35  2023               5.2                   118.0

In [38]:
print(cat_vars.head(2))
print(num_vars.head(2))

          category_of_vehicle fuel_type fuel_mode innovative_technologies
id
132193881                  M1    petrol         M                  e13 29
132193882                  M1    petrol         H                   e3 32
           mass_vehicle  weltp_test_mass  specific_co2_emissions  \
id
132193881        1345.0           1477.0                   143.0
132193882        1425.0           1506.0                   118.0

           engine_capacity  engine_power  erwltp  year  fuel_consumption
id
132193881           1498.0         110.0    1.17  2023               6.3
132193882           1469.0          96.0    1.35  2023               5.2

In [ ]:
# TODO analyze categorical vars
# df.select_dtypes(include=['object'])

In [ ]:
# TODO analyze numerical